.card-body {
  padding: 10px;
  border-radius: 15px;
  min-height: 50px;
  border: 1px solid black;
  display: flex;
  overflow: auto;
  margin: 5px;
}

button {
  border-radius: 10px;
  background-color: #F4FDAF;
  border: 2px solid black;
  height: fit-content;
  cursor: pointer;
}

input {
  border-radius: 5px;
  padding: 5px;
}

p {
  color: white;
}

.deactive {
  display: none;
}

.active {
  display: flex;
}

.one {
  background-color: #394F49;
}

.two {
  background-color: #65743A;
}

.three {
  background-color: #65743A;
}

.header {
  position: relative;
  bottom: 20px;
  color: white;
  width: 15%;
}

.body-section {
  display: flex;
  width: 50%;
  min-width: max-content;
  margin: 15px;
  gap: 5px;
}