.card-body {
  padding: 10px;
  border-radius: 15px;
  min-height: 50px;
  border: 1px solid black;
  display: flex;
  overflow: auto;
  margin: 5px;
}

fieldset {
  color: white;
  border: 1px solid yellow;
}

button {
  border-radius: 10px;
  background-color: #F4FDAF;
  border: 2px solid black;
  height: fit-content;
  cursor: pointer;
  position: relative;
  width: 150px;
  padding: 10px;
  top: 25px;
}

.delete-button {
  width: 25px;
  background-color: rgb(255, 86, 86);
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

input {
  border-radius: 5px;
  height: fit-content;
  padding: 5px;
}

.long-input {
  border-radius: 5px;
  height: fit-content;
  padding: 5px;
  width: 300px;
}

p {
  color: white;
}

div.deactive {
  display: none;
}

div.active {
  display: flex;
}

.one {
  background-color: #394F49;
}

.two {
  background-color: #65743A;
}

.three {
  background-color: #4a552b;
}

.header {
  position: relative;
  bottom: 20px;
  color: white;
  width: 15%;
}

.body-section {
  display: flex;
  width: 50%;
  min-width: max-content;
  margin: 15px;
  gap: 5px;
}